version: '2'
services:
  web:
    build: .
    pid: "host"
    network_mode: "host"
    privileged: true
    volumes:
      - ./:/go/src/github.com/Scalingo/sand
      - /etc/docker/plugins:/etc/docker/plugins:shared
      - /var/run/netns:/var/run/netns:shared
      - /var/run/docker/netns:/var/run/docker/netns:shared
    environment:
      GO_ENV: development
      ETCD_HOSTS: "http://localhost:22379"
      ENABLE_DOCKER_PLUGIN: "true"
      PUBLIC_HOSTNAME: "dev.172.17.0.1.xip.st-sc.fr"
    ports:
      - 9999:9999
      - 9998:9998
    command: reflex -r '\.go$$' --inverse-regex='cmd/sand-agent-cli' -s -- sh -c 'go install -race github.com/Scalingo/sand/cmd/sand-agent && /go/bin/sand-agent'
  test:
    build: .
    volumes:
     - ./:/go/src/github.com/Scalingo/sand
    environment:
      ETCD_HOSTS: "http://172.17.0.1:22379"
      GO_ENV: testing
    stop_signal: SIGKILL
    command: "tail -F /dev/null"
  etcd:
    volumes:
      - ./docker/etcd:/data/etcd
    image: quay.io/coreos/etcd:v3.2.11
    command: etcd --name etcd-cluster --data-dir /data/etcd --listen-client-urls http://0.0.0.0:2379 --listen-peer-urls http://0.0.0.0:2380 --advertise-client-urls http://172.17.0.1:22379
    ports:
      - 22379:2379
